<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="root">
        <div class="container">
            <div class="list">
                <nav class="contact">
                    <div class="myId">
                        <img class="avatarImg" src="img/avatar_io.jpg" alt="">
                        <div class="name">Sofia</div>
                    </div>
                    <div class="myIdSymbols">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </nav>
                <div></div>
                <div class="presearch">
                    <div class="searchContacts">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchBar">
                    </div>
                </div>
                <ul>
                    <li v-for="(contact, i) in arrContacts" class="contactList" @click="showChat(contact)">
                        <img :src="contact.avatar" alt="" class="avatarImg" >
                        <div>
                            <div>{{ contact.name }}</div>
                            <div class="underName">Ultimo messaggio inviato</div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="textArea">
                <div class="contactMessaging">
                    <div class="contactToMess">
                        <img :src="arrContacts[activeIndex].avatar" alt="" class="avatarImg">
                        <div class="info">
                            <div>{{ arrContacts[activeIndex].name }}</div>
                            <div class="underName">Ultimo accesso alle...</div>
                        </div>
                    </div>
                    <div class="contactGadget">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="messArea">
                    <div v-for="message in arrContacts[activeIndex].messages"
                        :class="message.status == 'received' ? 'receivedMess' : 'sentMess'" class="message">
                        <div>{{ message.message }}</div>
                        <div>{{ estractData(message.date) }}</div>
                    </div>
                </div>
                <div class="messBar">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" v-model="writeMessage.message" @keyup.enter="upMessage()" placeholder="Scrivi un messaggio">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>

            
            
        </div>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="assets/script.js"></script>
</body>
</html>